[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
flask-sqlalchemy = "*"
flask-cors = "*"
google-auth = "*"
jsonify = "*"
flask = "*"
migrate = "*"
flask-migrate = "*"
flask-jwt-extended = "*"

[dev-packages]

[requires]
python_version = "3.8"
